NODE_ENV=dev
APP_NAME=starter-template-node-express-pug

# Application Port - express server listens on this port (default 3000).
PORT=11001

LOG_LEVEL=debug


MONGODB_URI=mongodb+srv://admin:starter-template-node-express-pug@starter-template-node-express-pug/test?retryWrites=true&w=majority

HERE_API_KEY=starter-template-node-express-pug
DB_NAME=starter-template-node-express-pug

# Put lots of randomness in these
SESSION_SECRET=starter-template-node-express-pug

# Facebook keys - register your app and get yours here: https://developers.facebook.com/
FACEBOOK_ID=starter-template-node-express-pug
FACEBOOK_SECRET=starter-template-node-express-pug

# SendGrid Login - create an account with SendGrid her: https://signup.sendgrid.com/
SENDGRID_USER=starter-template-node-express-pug
SENDGRID_PASSWORD=starter-template-node-express-pug

